header {
    width: 100%;
    height: 450px;
    background-color: rgb(59, 80, 47);
    
    
    
}


nav{
    display: flex;
    height: 68px;
    width: 100%;
    padding-left: 350px;
    padding-top: 18px;
    gap: 50px;
    position: fixed;
    background-color: rgb(153, 34, 143);
    z-index: 20;
}

nav > a {
    color: aliceblue;
    text-decoration: none;
    font-size: 16px;
    display: block;
    margin-top: 9px;
    margin-top: 9px;
}


  
nav a:hover {
    background-color: #555;
    margin-top: 0;
    margin-bottom: 30px;
 }

#logo {
    width: 80px;
    height: 75px;
    
    
    
}
.marca {
    display: flex;
    transform: translate(-300px, -20px);
    background-color: aliceblue;
    height: 70px;
}
.marca p {
    font-family:'Times New Roman', Times, serif;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 25px;
    color: rgb(153, 34, 143);
    
    
}

#montain {
    width: 100%;
    height: 450px;
    position: relative;
    margin-left:0px;
    margin-top: 40px;
    filter: brightness(0.7);
  
   
    
}

.sponsor {
    
    
    transform: translate(0, -200px);
    color: white;
   
    


}

.sponsor > h1 > span {
    color: rgb(116, 10, 107);
    -webkit-text-stroke: 0.4px rgb(254, 255, 255); 
    color: rgb(116, 10, 107);
    -webkit-text-stroke: 0.4px rgb(254, 255, 255); 
}
