header {
    width: 100%;
    height: 68px;
    background-color: rgb(153, 34, 143);
    display: flex;
    justify-content:first baseline;
    width: 100%;
    align-items:center;
    padding: 0 10px;
    position: fixed;
    z-index: 20;
}


nav{
    
}

nav > a {
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
    text-decoration: none;
    padding-right: 20px;
    
}


  
nav a:hover {
    background-color: violet;
    
    transition-delay: 0.3s;
    transform: scale(1.1);
}

#logo {
    width: 80px;
    height: 75px;
}

.marca {
    display: flex;
    background-color: aliceblue;
    height: 100%;
    margin-right: 2vw;
}
.marca p {
    font-family:'Times New Roman', Times, serif;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 25px;
    color: rgb(153, 34, 143);
}


.sponsor {
    position: absolute;
    color: white;
    top: 40%;
    text-align: left;
    font-size: clamp(16px, 2vw, 21px);
}

.sponsor > h1 > span {
    color: rgb(116, 10, 107);
    -webkit-text-stroke: 0.4px rgb(254, 255, 255); 
    color: rgb(116, 10, 107);
    -webkit-text-stroke: 0.4px rgb(254, 255, 255); 
}
